[*.{kt,kts}]
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
ij_kotlin_indent_before_arrow_on_new_line = false

ktlint_code_style = intellij_idea
ktlint_standard_function-signature = disabled
